@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap");

body {
  font-family: "Source Code Pro", monospace;
  width: 1120px;
  margin: 2rem auto;
  background-color: #111;
  color: #fff;
}
